body {
  margin: 0;
  background-color: #000;
  color: white;
}

article {
  margin-left: 10%;
  width: 80%;
  padding: 1em;
  background-color: #1e1e1e;
}

@import "./Styles/Header.css";
@import "./Styles/Games.css";
@import "./Styles/Game-form.css";
@import "./Styles/Footer.css";
@import "./Styles/Game.css";