.game-form-input-text {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #343434;
  border-radius: 4px;
  box-sizing: border-box;
}

.game-form-input-file {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

.buy-button {
  color: white;
  background-color: #45a049;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #2d672f;
}

.dark-background {
  color: white;
  border-radius: 5px;
  background-color: #000;
  padding: 20px;
}

.dark-div-background label {
  color: white;
}

.dark-div-background ul {
  list-style-type: none;
}
