.games-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.games-bar li {
  float: left;
}

.games {
  display: block;
}

.games-container-small {
  display: inline-block;
  grid-template-rows: auto;
  width: 16.7em;
  height: 23em;
  margin: 0.5em;
  background-color: rgba(0, 0, 0, 0);
}

.games-container-big {
  display: inline-block;
  grid-template-rows: auto;
  width: 30em;
  height: 23em;
  margin: 0.5em;
  background-color: rgba(0, 0, 0, 0);
}
.games-image-block {
  height: 15em;
}
.game-image-small {
  width: 16.7em;
  height: 15em;
  display: block;
  object-fit: cover;
  object-position: 35% 35%;
}

.game-image-big {
  width: 30em;
  height: 22.8em;
  display: block;
  object-fit: cover;
  object-position: 35% 35%;
}
.game-functional-block-small {
  position: relative;
  width: 16.7em;
  top: -15em;
  height: 15em;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
.game-functional-block-big {
  position: relative;
  width: 30em;
  top: -22.9em;
  height: 15.1em;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
.game-edit-link {
  text-decoration: none;
  color: black;
}
.game-edit {
  position: relative;
  top: 40%;
  left: 30%;
  margin-bottom: 0.5em;
}
.game-delete {
  position: relative;
  top: 40%;
  left: 30%;
}

.game-image-page {
  width: 50em;
  height: 15em;
  display: block;
  object-fit: cover;
  object-position: 35% 35%;
}

.games-container-part {
  height: 4.6em;
}

.games-left-price {
  font-size: larger;
  margin-top: 0.75em;
  padding-left: 0.5em;
  float: left;
  background-color: rgba(0, 0, 0, 0);
}

.games-right-buy {
  padding-right: 0.5em;
  margin: 0.5em;
  float: right;
  height: 2.25em;
}

.games-container-link {
  color: white;
  text-decoration: none;
}
.games-gray-baground-part {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.games-container-genres {
  padding-left: 0.5em;
  font-size: small;
  height: 2em;
}

.games-container-name {
  padding-left: 0.5em;
  font-size: large;
}

.games-filters {
  height: 6em;
  margin: 0%;
}

.games-filters-left {
  width: 15em;
  float: left;
}
.games-filters-right {
  float: right;
}
.game-search {
  height: 3em;
}
.game-add-div {
  height: 3em;
}

.games-filters-button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
}

.genres-filter {
  position: absolute;
  background-color: #d8d8d8;
  border: #d8d8d8 solid 1px;
  border-radius: 4px;
  padding: 1em;
  width: auto;
  color: #000;
}

.genres-filter-grid {
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin: 0;
  padding: 0;
}

.genres-filter-grid div {
  margin: 0.5em;
}

.game-add-div {
  float: right;
}
.game-add-link-button {
  color: white;
  text-decoration: none;
  background-color: #45a049;
  padding: 0.5em;
  margin: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.game-add-link-button:hover {
  background-color: #2d672f;
}
